<div id="page_wrapper">

	<div id="content">
		<center>
		<h1>Hey, I'm Artur Petrosyan</h1>
		<p> A little bit about me </p>

		<div id="profile_image">
			<%= image_tag "me.png" %>
		</div>
	<div id="info">
		<p> <strong> Name </strong> : Artur Petrosyan <br>
				<strong> Age </strong> : 26 years <br>
				<strong> Location </strong> : Oldenzaal, Overijssel, The Netherands, Earth </p>
	</div>
    <p>Back in 2010 I went to college and studied commercial economy with the focused on marketing.
			 After a terrible accident , I had to recover for several years and in that time I had a lot of time to think about my future.
		 	 I was thinking to continue my education but I began to doubt whether I really wanted to continue or do something else.
		   The course itself was nice but my interest shifted more and more to web development. At that moment I saw an article about a development bootcamp offered by Codaisseur and i immediately signed up for it!</p>
		<p>After a 5 week program I've learned more than I would ever expect. Going from the web basics with html and css to Ruby and Rails to JavaScript, React.js and more.  </p>
		<h3><strong> Skills I've learned:</strong></h3>
		<ul>
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>React.js</li>
			<li>Ruby on Rails</li>
			<li>Testing with RSpec</li>
			<li>RESTful APIs</li>
			<li>Working with Git</li>
			<li>And still learning...</li>
		</ul>
	</center>
	</div>
</div>
